<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>CFBundleExecutable</key>
    <string>ClaudeSwitcher</string>
    <key>CFBundleIconFile</key>
    <string>AppIcon</string>
    <key>CFBundleIdentifier</key>
    <string>com.candroid.ClaudeSwitcher</string>
    <key>CFBundleName</key>
    <string>Claude Switcher</string>
    <key>CFBundleDisplayName</key>
    <string>Claude Switcher</string>
    <key>CFBundleVersion</key>
    <string>1.0.1</string>
    <key>CFBundleShortVersionString</key>
    <string>1.0.1</string>
    <key>SUFeedURL</key>
    <string>https://claudeswitcher.candroid.dev/appcast.xml</string>
    <key>SUPublicEDKey</key>
    <string>3Rz2t7QGMTJf3zDVpYSEuXFffj+WUg3+RvZJ+RtqMAk=</string>
    <key>SUEnableAutomaticChecks</key>
    <true/>
    <key>SUScheduledCheckInterval</key>
    <integer>86400</integer>
    <key>CFBundlePackageType</key>
    <string>APPL</string>
    <key>CFBundleInfoDictionaryVersion</key>
    <string>6.0</string>
    <key>LSMinimumSystemVersion</key>
    <string>13.0</string>
    <key>LSUIElement</key>
    <true/>
    <key>NSHumanReadableCopyright</key>
    <string>Copyright © 2026 Caner Ture. All rights reserved.</string>
</dict>
</plist>
